* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-h: 65px;
}


html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--header-h);
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #0D0D0D, #1A1A1A);

    color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
}


body.ativeBody {
    justify-content: center;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.cLoad {
    width: 100%;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #0d0d0d;

    z-index: 9999;
    transition: opacity 0.5s ease;
}



.loading {
    width: 200px;
    height: 200px;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 2;
}

.loading::before,
.loading::after {
    content: '';
    position: absolute;

    background: #ff7b0098;
    border-radius: 10px;

    box-shadow: 0 0 4px #ff7b0098;
}

.loading::before {
    width: 1px;
    height: 30%;

    animation: slideY 1.2s ease-in-out infinite alternate;
}

.loading::after {
    width: 30%;
    height: 1px;

    animation: slideX 1.2s ease-in-out infinite alternate;
}

@keyframes slideY {
    0% {
        transform: translateY(-200%);
        opacity: 0.2;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateY(200%);
        opacity: 0.2;
    }
}

@keyframes slideX {
    0% {
        transform: translateX(-200%);
        opacity: 0.2;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateX(200%);
        opacity: 0.2;
    }
}


/* cabecalho */

.cabecalho {
    position: fixed;
    width: 100%;
    height: var(--header-h);

    display: flex;
    align-items: center;
    justify-content: space-around;

    z-index: 999;

    padding: 0.5rem 0;
    background: linear-gradient(to right, #0D0D0D, #1A1A1A);
    border-bottom: 1px #cccccc34 solid;
}

.tituloContainer {
    display: flex;
    gap: .8rem;
    font-family: 'Audiowide', cursive;
}

.titulo {
    color: #fff;
}

.tmy {
    font-size: small;
    transform: rotate(90deg);
}





/* navs */

.navMenu {
    display: flex;
    gap: 20px;
}

.navItem {
    position: relative;
    text-decoration: none;
    color: #fff;

    padding: 8px 15px;
    font-size: 14px;
    transition: 0.5s;

    border-radius: 12px;
}

.navItem:hover {
    background-color: #64646459;
}

.navItem.active {
    background-color: #ff720c;
}

/* main */
.containerPrincipal {
    width: 100%;
    padding: 3rem;
    margin-top: 3rem;
}

/* section hero */

.hero {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 40px;
    padding: 40px;
}


.heroContent {
    width: 100%;
    max-width: 700px;
}

.heroContent span {
    color: #ff7a00;
}

.heroContent h1 {
    font-size: 50px;
    color: #fff;
    margin-bottom: 15px;
}

.heroContent p {
    color: #aaa;
    margin-bottom: 25px;
    max-width: 400px;
}

/* botões */
.heroButtons {
    display: flex;
    gap: 15px;
}

.btnPrimary {
    padding: 10px 20px;
    border: none;
    background: #ff7a00;
    color: #fff;

    cursor: pointer;
    border-radius: 8px;
}

.btnSecondary {
    padding: 10px 20px;
    border: 1px solid #ff7a00;
    background: transparent;

    color: #ff7a00;

    cursor: pointer;
    border-radius: 8px;
}

/* imagens */
.heroImages {
    display: flex;
    align-items: flex-end;
    gap: 2.5rem;
}


.livroHero {
    position: relative;
}

.livroHero::after {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 80%,
            rgba(0, 0, 0, 0.8) 100%);

    border-radius: 8px;
}

.livroHero img {
    object-fit: cover;
    border-radius: 8px;
}

.livroHero:nth-child(1) {
    order: 2;
}

.livroHero:nth-child(2) {
    order: 1;
}

.livroHero:nth-child(3) {
    order: 3;
}

.livroHero2,
.livroHero3 {
    height: 340px;

    width: 200px;
    opacity: 0.8;
}

.livroHero1 {
    height: 420px;
}

/* rank */
.rank {
    position: absolute;
    top: 8px;
    left: 8px;

    background: #E10600;
    padding: 4px 8px;
    border-radius: 6px;
    font-weight: bold;
}

.downloadsTop {
    position: absolute;
    bottom: 8px;
    left: 8px;

    background: rgba(0, 0, 0, 0.7);
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 12px;
    z-index: 5;
}

.tag {
    position: absolute;
    top: 8px;
    right: 8px;

    background: #0066FF;
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 12px;
}

/* busca  explorar categoria*/


/* section livros */
.sectionLivros {
    width: 85%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    
    gap: 2rem;
    padding: 3rem 0;
    margin-top: 3rem;
}

.tituloSecao {
    margin-bottom: 25px;
}

.tituloSecao h2 {
    font-size: 28px;
    margin-bottom: 5px;
}

.tituloSecao p {
    font-size: 14px;
    color: #aaa;
}



/* LISTA */
.listaLivros {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2rem;
}

/* CARD */
.livro {
    background: #121212;
    border-radius: 14px 14px 0 0;
    border: 1px solid #414141;

    transition: 0.5s ease;
}

.livro:hover {
    transform: translateY(-2px);
    border-color: #d17841;
}

.livro img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 14px 14px 0 0;
    cursor: pointer;
}

.cLivroInfo {
    margin: 1rem;
}

.cLivroInfo h3 {
    font-size: 16px;
    color: #fff;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.autorSub {
    opacity: 0.7;
}

.livro p {
    font-size: 13px;
    color: #aaa;
    display: none;
}


/* hide  ver livro */

.leitura-container {
    width: 70%;
    min-height: 85vh;

    padding: 40px;

    margin: 0 auto;
    background: #121212;
    border: 1px solid #1f1f1f;

}

.btn-voltar {
    background: transparent;
    border: 1px solid #e65c00;
    color: #ff6a00;
    padding: 10px 20px;

    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 30px;
}

.leitura-content {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

.livro-img img {
    width: 280px;
    height: 400px;

    border-radius: 12px;
    box-shadow: 0 0 20px rgba(255, 0, 102, 0.);
}

.livro-info {
    max-width: 900px;
}

.tituloHide {
    font-size: 32px;
    margin-bottom: 20px;
}

.detalhes {
    margin-bottom: 20px;
}

.detalhes p {
    margin-bottom: 8px;
    color: #ccc;
}

.sinopse h2 {
    margin-bottom: 10px;
}

.sinopse p {
    line-height: 1.6;
    color: #ddd;
}

@media (max-width: 768px) {
    .leitura-content {
        flex-direction: column;
        align-items: center;
    }

    .livro-img img {
        width: 220px;
    }

    .livro-info {
        text-align: center;
    }
}


/* acoes */


.acoes {
    margin-top: 40px;
    display: flex;

    gap: 20px;

    background: #1a1a1a;
    padding: 25px;
    border-radius: 6px;
}

.btn {
    width: 100%;

    padding: 12px 20px;
    border-radius: 10px;
    border: none;

    font-weight: bold;
    font-size: 14px;

    cursor: pointer;
    transition: all 0.5s ease;
}

.ler {
    background: #ff6a00;
    color: #fff;

    box-shadow: 0 0 15px rgba(255, 106, 0, 0.3);
}

.btn:hover {
    transform: translateY(-3px);
}

.favorito {
    background: transparent;
    border: 1px solid #ff6a00;
    color: #ff6a00;
}

.favorito:hover {
    background: #ff6a00;
    color: #fff;
}

.salvar {
    background: #262626;
    color: #ccc;
}

.salvar:hover {
    background: #333;
}

.progresso {
    margin-top: 10px;
}

.progresso p {
    font-size: 13px;
    color: #aaa;
    margin-bottom: 8px;
}

.barra {
    width: 100%;
    height: 8px;

    background: #333;

    border-radius: 10px;
    overflow: hidden;
}

.barra-fill {
    height: 100%;
    width: 30%;

    background: #ff6a00;

    transition: width 0.4s ease;
}


/* SECTION */
.categoriasSection {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.tituloCategoria h2 {
    color: #ff720c;
    font-size: 2.5rem;
    margin-bottom: .5rem;
}

.tituloCategoria p {
    color: #bcbcbc;
}

/* INPUT */
.inputBuscaCategoria {
    max-width: 700px;
    width: 100%;
    position: relative;
}

.iconLupa {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #ff720c;
}

.inputCategoria {
    width: 100%;
    padding: 18px 20px 18px 50px;
    border: none;

    border-radius: 14px;
    background: #161616;
    color: white;
    border: 1px #cccccc21 solid;
}


/* GRID PRINCIPAL */
.layoutCategoria {
    width: 100%;
    height: 100%;
    max-height: 850px;

    display: flex;
    gap: 2rem;
}


/* ASIDE */
.containerFiltrosCategoria {
    width: 100%;
    max-width: 300px;
    background: #111;
    padding: 1rem;

    border-radius: 12px;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: min-content;
}


/* header filtro */
.filtroHeader {
    display: flex;
    justify-content: space-between;
}

.fa-filter {
    color: #ff720c;
}

.filtroHp2 {
    cursor: pointer;
    transition: 0.3s;
}

.filtroHp2:hover {
    color: #ff720c;
}

/* GENEROS */
.containerFiltroGenero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.cardGenero {
    padding: 0.5rem 1rem;
    background: #1c1c1c;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
}

.cardGenero.ativo {
    background-color: #ff720c;
}

.cardGenero:hover:not(.ativo) {
    background: #424242;
    transform: translateY(-2px);
}


/* AUTORES */
.containerFiltroGeneroSub strong {
    color: #ff720c;
    display: block;
    margin-bottom: 1rem;
}

.containerAutores {
    display: flex;
    flex-wrap: wrap;
    gap: 0.7rem;
}



.cardAutor {
    padding: 0.6rem;
    background: #1d1d1d;
    border-radius: 30px;
    font-size: 0.9rem;
    transition: 0.3s;

    cursor: pointer;
}

.cardAutor.ativo {
    background-color: #ff720c;
}

.cardAutor:hover:not(.ativo) {
    background: #424242;
    transform: translateY(-2px);
}

/* LIVROS */
.containerLivros {
    position: relative;

    height: 100%;
    width: 100%;
    max-height: 80vh;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

    gap: 1.5rem;

    overflow-y: auto;
    overflow-x: hidden;
    padding: 1rem;
}

.containerLivros::-webkit-scrollbar {
    width: 12px;
}

.containerLivros::-webkit-scrollbar-track {
    background: #3b3b3b;
    border-radius: 20px;
}

.containerLivros::-webkit-scrollbar-thumb {
    background: #ff720c;
    border-radius: 20px;
    border: 2px #3b3b3b solid;
}

.estadoVazio {
    text-align: center;
    color: #777;
    height: min-content;
    border-right: 1px #3b3b3b solid;
}

.estadoVazio span {
    font-size: 12px;
    opacity: 0.7;
}

/* RESPONSIVO */
/* @media(max-width:900px) {

    .layoutCategoria {
        grid-template-columns: 1fr;
    }

} */



/* footer  */



.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    border-top: 1px solid #1f1f1f;
    background: linear-gradient(to right, #0D0D0D, #1A1A1A);
}

.footerContainer {
    width: 100%;
    display: flex;

    align-items: center;
    justify-content: center;
    flex-direction: column;

    color: #f5f5f5;
}

.footerContainer h3 {
    color: #ff6a00;
    padding: 0.5rem 0;
}

.footerGrid {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;

    padding: 2rem 0;
    gap: 3rem;
}

.footerGrid p,
.footerLinkItem {
    font-size: small;
}

.footerBrand p {
    padding: 0.5rem 0;
    color: #ccc;
}

.footerNav {
    text-align: center;
}

.footerLinks {
    list-style: none;
}

.footerLinkItem {
    padding: 0.5rem 0;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
}

.footerLinkItem:hover {
    color: #ff6a00;
    transform: translateX(3px);
}

.footerProject p {
    opacity: 0.85;
    margin: 4px 0;
}

.footerDescription {
    opacity: 0.6;
}

.footerTech {
    margin-top: 6px;
    letter-spacing: 1px;
    color: #aaa;
}

.footerStatus {
    margin-top: 10px;
    font-size: 12px;
    color: #ff6a00;
}

.footerCopy {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;

    padding: 2rem;
    border-top: 1px solid #1f1f1f;
    font-size: small;
    opacity: 0.8;

}

.footerSocial {
    display: flex;
    gap: 1rem;

}

.footerSocial a {
    font-size: 18px;
    color: #aaa;
    transition: 0.3s;
}

.footerSocial a:hover {
    color: #ff6a00;
    transform: translateY(-3px);
}

.footerBottom {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.footerBottomInfo {
    display: flex;
    gap: 1.5rem;
    flex-direction: row-reverse;
}

.footerAuthor {
    color: #ff6a00;
}

@media (max-width: 1024px) {

    .footerGrid {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .footerBottom {
        flex-direction: column;
    }
}

@media (max-width: 480px) {

    .footerGrid {
        flex-direction: column;
    }

}

.hide {
    display: none;
    pointer-events: none;
    user-select: none;
}